{
  "*.ts": [
    "eslint --fix"
  ],
  "*.tsx": [
    "eslint --fix"
  ],
  "*.js": [
    "eslint --fix"
  ],
  "*.jsx": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.sass": [
    "stylelint --fix"
  ]
}